@font-face {
  font-family: "Garaje-0703";
  src: local("Garaje"),
   url("./fonts/Garaje.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Garaje0504";
  src: local("Garaje 0504 VAR"),
   url("./fonts/Garaje0504.ttf") format("truetype");
  font-weight: normal;
}

.app {
  font-family: "Garaje-0703";
}

.button-base {
  background-color: #8EEE00;
  padding: 10px;
  font-family: "Garaje-0703";
  font-weight: bold;
}

.button-base:hover{
  border: 2px solid #5551ff;
  border-bottom: 5px solid #5551ff;
  border-right: 5px solid #5551ff;  
}

.border-base {
  border: 2px solid;
  border-bottom: 5px solid;
  border-right: 5px solid;
  border-radius: 5px;
}

.input-base {
  border: 2px solid;
  border-radius: 5px;
  height: 65px;
  line-height: normal;
  user-select: auto;
  font-size: 16px;
  border-bottom: 5px solid;
  border-right: 5px solid;
  padding-left: 12px; 
} :focus{
  border: 2px solid #C757FF;
  border-bottom: 5px solid #C757FF;
  border-right: 5px solid #C757FF;  
}